.video_list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-right: 16px;
  margin-left: 16px;
  margin-top: 24px;

  background-color: #f9f9f9;
}

.video_list li {
  display: inline;
  margin: 5px;
}

.thumbnail {
  width: 350px;
}

.thumbnail:hover {
  cursor: pointer;
}

.video_box {
  position: relative;
  display: inline-block;
}

.video_time {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  right: 5%;
  text-align: center;
  bottom: 5%;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  color: #fff;
  width: 15%;
  height: 10%;
}
