body {
  overflow-y: hidden;
}

.NavBar {
  background-color: burlywood;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.logo {
  margin-left: 15px;
  align-items: center;
  color: black;
}

.logo:hover {
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.Menu {
  background-color: #4db6ac !important;
  width: 15%;
}

.video_list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  max-width: 85%;

  background-color: #f9f9f9;

  overflow: auto;
  height: 100vh;
}

.video_list li {
  display: inline;
  margin: 5px;
}

.thumbnail {
  width: 350px;
}

.thumbnail:hover {
  cursor: pointer;
}

.video_box {
  position: relative;
  display: inline-block;
}

.video_time {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  right: 5%;
  text-align: center;
  bottom: 5%;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  color: #fff;
  width: 15%;
  height: 10%;
}
