.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
}

.player-container {
  width: 100%;
  background-color: #000;
  text-align: center;
}

.player {
  height: 100%;
}
.video-detail {
  padding-top: 60px;
  /* overflow: auto; */
}

.video-info {
  margin-left: 3rem;
  border-bottom: 1px #cfcfcf solid;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 28px;
  margin-top: 10px;
}

.video-date {
  font-size: 14px;
  color: gray;
  margin-left: 15px;
}
.video-view {
  font-size: 14px;
  color: gray;
}

.author-info {
  margin-left: 3rem;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}
.video-authorImg {
  width: 30px;
  height: 30px;
  background-color: #1abc9c;
  border-radius: 50%;
}

.video-author {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

.video-author div {
  margin-top: 15px;
  font-weight: 10;
}

.subscribe-button {
  margin-left: auto;
}
.unsubscribe-button {
  margin-left: auto;
  display: none;
}

.owner-panel {
  margin-left: auto;
  display: none;
}

.video-del {
  color: #e74c3c;
  border: none;
  outline: none;
  background-color: transparent;
}
.video-del:focus {
  outline: none;
}

.comment-container {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.comment-overall {
  border-bottom: 1px #cfcfcf solid;
}

.comment-content {
  margin-top: 30px;
}

.comment {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.comment-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #4db6ac;
  margin-right: 15px;
}

.comment-info {
  display: flex;
  flex-direction: column;
}
.comment-author {
  font-size: 20px;
}
.comment-time {
  font-size: 12px;
}
.comment-text {
  margin-top: 5px;
  font-size: 22px;
}

.comment-submit {
  right: 0;
  position: absolute;
  border-radius: 10px;
  background-color: #2ecc71;
  color: white;
}
