{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DjangoTube</title>

    <link rel="icon" href="{% static "favicon.png" %}"/>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"/> -->
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark teal lighten-2">
      <a class="navbar-brand logo" href="/">DjangoTube</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline ml-auto">
          <div class="md-form my-0">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
          </div>
        </form>
      </div>
      <!-- Button trigger modal -->
      <button
        type="button"
        id="uploadButton"
        class="login"
        data-toggle="modal"
        data-target="#uploadModal"
      >
        Upload
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="uploadModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                비디오 업로드
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="modalForm" class="md-form">
                {% csrf_token %}
                <div class="md-form mt-3">
                  <input
                    type="text"
                    id="uploadTitle"
                    name="title"
                    class="form-control form-input"
                  />
                  <label id="uploadTitleLabel" for="uploadTitle"
                    >제목 (필수)</label
                  >
                </div>
                <div class="md-form mt-3">
                  <input
                    type="text"
                    id="uploadDescription"
                    name="description"
                    class="form-control form-input"
                  />
                  <label for="uploadDescription">설명</label>
                </div>
                <div class="file-field">
                  <div class="btn btn-primary btn-sm float-left">
                    <span>Choose File</span>
                    <input id="modalUploadInput" name="video" type="file" />
                  </div>
                  <div class="file-path-wrapper">
                    <input
                      class="file-path validate"
                      id="modalUploadInputText"
                      type="text"
                      placeholder="Upload your file"
                      readonly
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-success"
                id="modalUploadButton"
              >
                Upload
              </button>
            </div>
          </div>
        </div>
      </div>
      <a href="/login" id="Login-button" class="login">Login</a>
    </nav>
    <div class="container">
      <div class="Menu">
        Menu
      </div>
      <ul class="video_list"></ul>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/popper.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static 'js/rendertime.js' %}"
    ></script>
    <!-- <script src="{% static "js/main.js" %}" -->
    <script src="static/js/main.js"></script>
  </body>
</html>
